@charset "UTF-8";
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: linear-gradient(to right, #02735E, #025951, #034159);
}
main{
    background-color: white;
    margin: auto;
    width: 700px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 15px #034159;
}
h1{
    color: #034159;
    text-align: center;
    text-shadow: 1px 1px 2px #0CF25D;
}
h2{
    color: #038C3E;
    text-align: center;
}
p{
    text-align: justify;
    text-align: center;
}
li{
    text-align: center;
}